
<div class="container">
    <img src ="assets/image/favicon.jpg"alt="Trulli" width="1500" height="300" >

</div>
<div class="row col-md-12 col-md-offset-2 custyle" style ="margin-left:22%">
    
    
    <!-- <h3>An inspection is, most an organized examination or formal evaluation exercise. In engineering activities inspection involves the measurements, </h3>
    <h3>tests, and gauges applied to certain characteristics in regard to an object or activity. The results are usually compared to specified requirements</h3>
    <h3> and standards for determining whether the item or activity is in line with these targets, often with a Standard Inspection Procedure in place to ensure </h3>
    <h3>consistent checking. Inspections are usually non-destructive. </h3>   
     -->
        </div>

  





